<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
    <link href="/frontend/static/main.css" rel="stylesheet"/>
    <title>Text-2-SQL</title>
<body>
<div class="container">
    <h1>Text-2-SQL</h1>
    <button onclick="redirectToPage()">К генерации SQL</button>
</div>


<script>
    function redirectToPage() {
        window.location.href = "{{action_url}}";
    }
    function logout() {
        window.location.href = "{{logout_url}}";
    }
</script>

</body>
</html>